.clientsFeedback {
  display: flex;
  flex-direction: column;
  gap: 20px;

  h1 {
    font-size: 22px;
  }
}

.container-clientsFeedback {
  display: flex;
  gap: 20px;

  .feedback-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: yellow;
    width: 240px;
    min-height: 350px;
    background-color: #1a1a1a;
    padding: 2em;
    border-radius: 18px;
    padding-top: 40px;
    gap: 3em;
  }

  .CF-stars {
    display: flex;
    gap: 5px;
  }

  .CF-data {
    display: flex;
    gap: 18px;
    align-items: center;

    img {
      width: 45px;
      height: 45px;
      object-fit: cover;
      border-radius: 12px;
      filter: grayscale(30%);
    }

    h1 {
      font-size: 18px;
      font-weight: bold;
    }

    .CF-projectName {
      color: #999999;
      font-size: 14px;
    }
  }
}

.fa-star {
  color: #4ce6a6;
}
