#intro-homepage {
  display: flex;
  flex-direction: column;
  gap: 7px;
  height: fit-content;
  padding-top: 40px;

  h1 {
    font-size: 36px;
    letter-spacing: -2px;
    width: fit-content;
  }

  p {
    font-weight: bold;
    width: 70%;
    font-size: 18px;
    color: #999999;
  }

  .location {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    color: #999999;
    align-items: center;

    i {
      color: #4ce6a6;
    }

    p {
      font-size: 13px;
      font-weight: 400;
    }
  }
}
