.stack-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 20vh;
}

.stack-tabs {
  display: flex;
  gap: 4px;
  margin-bottom: 15px;

  button {
    min-width: 140px;
    padding: 10px 25px;
    border: none;
    background: #f0f0f0;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    font-family: inherit;
    letter-spacing: -1px;

    &.active {
      background: #4ce6a6;
      color: black;
    }

    &:hover {
      color: white;
      background: #999999;
    }
  }
}

.stack-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.stack-item {
  background: #000000;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px 10px;
  transition: transform 0.2s ease-in-out;
  display: flex;
  width: 90%;
  border: 1px solid grey;
  color: white;
  align-items: center;
  justify-content: space-between;

  .item-left-itens {
    display: flex;
    gap: 10px;
  }

  .stack-icon-and-description {
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 12px;
    }
  }

  &:hover {
    transform: translateY(-2px);
  }

  i {
    font-size: 24px;
    color: #ff6600;
  }

  p {
    font-size: 14px;
    color: #666;
  }
}
