.App {
  display: flex;
  background-color: rgb(0, 0, 0);
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  letter-spacing: -1px;
  color: white;
  padding-top: 40px;
  padding-left: 30px;
  gap: 70px;
  justify-content: center;
}

.main-content {
  padding-top: 40px;
}

button {
  font-family: inherit;
}
